$primary-1: rgb(238, 77, 104);
$primary-2: rgb(235, 166, 38);
$Primary_gradient: linear-gradient(90deg, $primary-1, $primary-2);

body::-webkit-scrollbar {
  width: 10px;
  background: rgba(255, 255, 255, 0.95);
}

body::-webkit-scrollbar-thumb {
  background: rgb(190, 192, 192);
  border-radius: 10px;
}

.background-img {
  width: 100%;
  // height: 100vh;
  // background-image: url(../images/ash-from-modern-afflatus-NQ6Lh81BTRs-unsplash.jpg);
}

.line {
  background: $primary-2;
  border-radius: 2000px;
}

.todo {
  padding-left: 8px;

  border-radius: 4px;
  transition: transform 0.5s ease;
  cursor: pointer;
  background: $Primary_gradient;
  .list--items {
    font-family: 'roboto', sans-serif;
  }
  .complete,
  .delete,
  .complete-demo,
  .delete-demo {
    background: blue;
    transition: transform 0.5s ease;
    border: none;
  }
  .complete,
  .complete-demo {
    border-right: 1px solid $primary-2;
  }

  .complete:active {
    transform: scale(0.85);
    transition: 0.5s ease;
    outline: none;
  }
  .delete:active {
    transform: scale(0.85);
    transition: 0.5s ease;
  }
  .complete:focus {
    opacity: 0.7;
  }
  .delete:focus {
    opacity: 0.7;
  }
}

.h-effect:hover {
  transform: scaleX(1.05);
  transition: 0.5s ease;
}

.add--btn {
  background: $Primary_gradient;
  color: white;
  font-weight: 700;
}

.add--btn:hover {
  color: rgb(226, 225, 225);
}

.add--btn:active {
  opacity: 0.8;
}

.add--todo::placeholder {
  font-size: 16px;

  font-family: 'roboto', sans-serif;
}

.main_todos_container {
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 12px 8px;
}

.svg {
  pointer-events: none;
}

.more {
  background-color: $primary-2;
  color: white;
  font-size: 15px;
  padding: 4px 8px;
  border-radius: 4px;
  margin-top: 10px;
}

.more:hover {
  background-color: transparent;
  color: rgb(19, 19, 19);
  border: 1px solid $primary-2;
}

.more:active {
  opacity: 0.9;
}

.add--todo {
  padding-right: 6.3rem;
  border-radius: 2345px;
}

.list {
  pointer-events: none;
  .list--items {
    pointer-events: none;
  }
}

.completed-todo {
  opacity: 0.5;
  text-decoration: line-through;
}

.add_task {
  overflow: visible;
}

.add--todo:focus {
  box-shadow: 0 0 5pt 0.5pt #d3d3d3;
  box-shadow: 0 0 5pt 2pt #d3d3d3;
}

@media (max-width: 700px) {
  .todos_home {
    flex-wrap: nowrap;
    flex-direction: column;
    max-width: max-content;
    align-items: center;
  }
}

@media (min-width: 700px) {
}
.main_todos_container::-webkit-scrollbar {
  overflow: hidden;
  width: 7px;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  filter: blur();
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.95);
}

.main_todos_container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(190, 192, 192);
}

.error-msg {
  color: rgb(231, 148, 148);
}

.error {
  background-color: rgb(136, 2, 2);
  border: 1px solid rgb(231, 148, 148);
  display: flex;
  align-items: center;
  font-family: 'roboto', sans-serif;
  font-size: 15px;
  min-width: 20rem;
  max-width: max-content;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4px;
}

.cross-parent {
  background-color: rgb(250, 73, 73);
  // transform: rotate(45deg);
}

.delete:hover {
  opacity: 1;
}
